@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3A5A40;
  --accent: #A3B18A;
  --tan: #C2A773;
  --sand: #EFE7DA;
  --dark: #1F2421;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-tan: var(--tan);
  --color-sand: var(--sand);
}